<!DOCTYPE html>

<html xmlns:th = "http://www.thymeleaf.org" >
    
    <head>
        <title>Personas</title>
    </head>
    
<body>
    <h1 th:text="${titulo}" ></h1>
    <table class="table table-dark table -striped">
        
        <thead class ="thead-dark">
            <tr>
                <th sacope ="col">Nombre< </th>
                <th sacope ="col">Apellido 1< </th>
                <th sacope ="col">Apellido 2< </th>
                <th sacope ="col">Email< </th>
                <th sacope ="col">Telefono< </th>
                <th sacope ="col">Pais< </th>
                <th sacope ="col">Editar< </th>
                <th sacope ="col">eliminar< </th>
            </tr>
        </thead>  
        <tbody>   
        <th:block th:each="user : ${personas}">  
           <tr>
                <td th:text="${user.getNombre}"></td>
                <td th:text="${user.getApellido1}"></td>
                <td th:text="${user.getApellido2}"></td>
                <td th:text="${user.getEmail}"></td>
                <td th:text="${user.getTelefono}"></td>
                
                    <td> 
                        <a th:href="@{/editPersona/{id}(id=${user.getId})}" >Edit</a>
                    </td>
                    <td> 
                        <a th:href="@{/delete/{id}(id=${user.getId})}" >Delete</a>
                    </td>
            </tr>
        </th:block>  
    </tbody>
</table>
   
</html>
